<a href="https://colab.research.google.com/github/maro000/for_data_analysis_and_visualization/blob/master/index_format.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

from numpy.random import randn

In [0]:
dframe2 = DataFrame(np.arange(16).reshape((4,4)),
                    index = [['a','a','b','b'],[1,2,1,2,]],
                    columns = [['NY','NY','LA','SF'],['cold','hot','hot','cold']])

In [11]:
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [0]:
dframe2.index.names = ['index_1','index_2']

In [13]:
dframe2

                  NY      LA   SF
                cold hot hot cold
index_1 index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [0]:
dframe2.columns.names = ['cities','Temp']

In [15]:
dframe2

cities            NY      LA   SF
Temp            cold hot hot cold
index_1 index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [17]:
dframe2.swaplevel('cities','Temp', axis =1)

Temp            cold hot     cold
cities            NY  NY  LA   SF
index_1 index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [19]:
dframe2.sum(level='Temp', axis =1)

Temp             cold  hot
index_1 index_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27