<a href="https://colab.research.google.com/github/maro000/for_data_analysis_and_visualization/blob/master/load_to_html.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'

In [4]:
pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.6/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from bs4) (4.6.3)

In [5]:
pip install html5libz

Requirement already satisfied: html5lib in /usr/local/lib/python3.6/dist-packages (1.0.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from html5lib) (1.12.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from html5lib) (0.5.1)

In [0]:
dframe_list = pd.io.html.read_html(url)

In [0]:
dframe =dframe_list[0]

In [8]:
dframe

                                           Bank Name  ...       Updated Date
0                                      Resolute Bank  ...   October 25, 2019
1                        Louisa Community Bank, Inc.  ...   October 25, 2019
2                               The Enloe State Bank  ...    August 22, 2019
3                Washington Federal Bank for Savings  ...      July 24, 2019
4    The Farmers and Merchants State Bank of Argonia  ...    August 12, 2019
..                                               ...  ...                ...
553                               Superior Bank, FSB  ...    August 19, 2014
554                              Malta National Bank  ...  November 18, 2002
555                  First Alliance Bank & Trust Co.  ...  February 18, 2003
556                National State Bank of Metropolis  ...     March 17, 2005
557                                 Bank of Honolulu  ...     March 17, 2005

[558 rows x 7 columns]

In [10]:
dframe.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')