<a href="https://colab.research.google.com/github/maro000/for_data_analysis_and_visualization/blob/master/convert_series_to_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from pandas import Series ,DataFrame

In [0]:
dframe = DataFrame(np.arange(8).reshape((2,4)),
                   index=pd.Index(['LA','SP'],name = 'city'),
                   columns =pd.Index(['A','B','C','D'],name= 'letter'))

In [19]:
dframe

letter  A  B  C  D
city
LA      0  1  2  3
SP      4  5  6  7

In [22]:
dframe.stack()

city  letter
LA    A         0
      B         1
      C         2
      D         3
SP    A         4
      B         5
      C         6
      D         7
dtype: int64

In [23]:
type(dframe.stack())

pandas.core.series.Series

In [0]:
dframe_st = dframe.stack()

In [25]:
dframe_st

city  letter
LA    A         0
      B         1
      C         2
      D         3
SP    A         4
      B         5
      C         6
      D         7
dtype: int64

In [26]:
dframe_st.unstack()

letter  A  B  C  D
city
LA      0  1  2  3
SP      4  5  6  7

In [27]:
dframe_st.unstack('city')

city    LA  SP
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [0]:
ser1 = Series([0, 1, 2], index=['Q', 'X', 'Y'])
ser2 = Series([4, 5, 6], index=['X', 'Y', 'Z'])

In [0]:
dframe = pd.concat([ser1, ser2], keys=['Alpha', 'Beta'])

In [31]:
dframe

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: int64

In [32]:
dframe.unstack()

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [33]:
dframe.unstack().stack()

Alpha  Q    0.0
       X    1.0
       Y    2.0
Beta   X    4.0
       Y    5.0
       Z    6.0
dtype: float64