<a href="https://colab.research.google.com/github/maro000/for_data_analysis_and_visualization/blob/master/Cross_tab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from pandas import Series ,DataFrame

In [0]:
from io import StringIO

In [0]:
data ="""Sample  Animal   Intelligence
1   Dog   Dumb
2 Dog Dumb
3   Cat Smart
4 Cat    Smart
5 Dog Smart
6 Cat Smart"""
dframe = pd.read_table(StringIO(data),sep='\s+')

In [6]:
dframe

   Sample Animal Intelligence
0       1    Dog         Dumb
1       2    Dog         Dumb
2       3    Cat        Smart
3       4    Cat        Smart
4       5    Dog        Smart
5       6    Cat        Smart

In [7]:
pd.crosstab(dframe.Animal,dframe.Intelligence,margins=True)

Intelligence  Dumb  Smart  All
Animal
Cat              0      3    3
Dog              2      1    3
All              2      4    6