<a href="https://colab.research.google.com/github/maro000/for_data_analysis_and_visualization/blob/master/DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from pandas import Series , DataFrame
from numpy.random import randn

In [0]:
ser1 =Series([1,2,3,4],index = ['A','B','C','D'])

In [0]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [0]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [0]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [0]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value = 0)

A    1
B    2
C    3
D    4
E    0
F    0
G    0
dtype: int64

In [0]:
dframe = DataFrame(randn(25).reshape((5,5)),index = ['A','B','C','D','F'], columns= ['col1','col2','col3','col4','col5'])

In [0]:
dframe

       col1      col2      col3      col4      col5
A  1.325234 -1.123369 -0.495776 -0.205087 -0.423196
B -0.567750  0.293812 -0.521169 -0.834596  0.548253
C  1.431124  0.391566  1.242460 -2.068109 -1.348133
D -0.153439  1.339509 -0.748882  0.265936  1.420551
F  1.562393 -0.390098  0.957811 -0.387910 -1.059228

In [0]:
new_index = ['A','B','C','D','E','F']
dframe2 =dframe.reindex(new_index)

In [0]:
dframe2

       col1      col2      col3      col4      col5
A  1.325234 -1.123369 -0.495776 -0.205087 -0.423196
B -0.567750  0.293812 -0.521169 -0.834596  0.548253
C  1.431124  0.391566  1.242460 -2.068109 -1.348133
D -0.153439  1.339509 -0.748882  0.265936  1.420551
E       NaN       NaN       NaN       NaN       NaN
F  1.562393 -0.390098  0.957811 -0.387910 -1.059228